:root {
  --primary: #ffffff;
  --secondary: #0a0b5b;
  --primary-font-color: #082264;
  --secondary-font-color: #55b8f0;
  --gray-color: #ddd;
  --dark-color: #2f2f33;
  --table-accent-color: #eef9ff;
}
